.trix-button-row {
  border-top: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  border-left: 1px solid #bbbbbb;
  padding: 10px;

  .trix-button-group {
    margin: 0;
    border: none !important;

    .trix-button {
      border: none;
    }

    &.trix-button-group--file-tools {
      border-right: 1px solid #bbbbbb !important;
    }
  }

  .trix-button-group:not(:first-child) {
    margin-left: 10px;
    border-radius: 0;
    border-left: 1px solid #bbbbbb !important ;
  }
}

trix-editor {
  border-radius: 0;
}